<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/carparkingbd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/carparkingbd"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCarParking"
        tools:targetApi="31">
        <activity
            android:name=".History_Activity"
            android:exported="false" />
        <activity
            android:name=".Addmoney_Activity"
            android:exported="false" />
        <activity
            android:name=".Slot_4_Activity"
            android:exported="false" />
        <activity
            android:name=".Slot_3_Activity"
            android:exported="false" />
        <activity
            android:name=".Slot_2_Activity"
            android:exported="false" />
        <activity
            android:name=".Slot_Booking_Activity"
            android:exported="false" />
        <activity
            android:name=".Booking_Activity"
            android:exported="false" />
        <activity
            android:name=".Profileedit_Activity"
            android:exported="false" />
        <activity
            android:name=".Forgetpassword_Activity"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".Signup_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>